<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body >
<header>
    <% {page = null} %>
    <%- include('./templates/nav', {page}) %>
</header>
<main class="container mt-3">
    <% if (messages.error) { %>
        <p style="color:red"><%- messages.error %></p>
    <% } %>
    <% if (messages.success) { %>
        <p style="color:green"><%- messages.success %></p>
    <% } %>
    <h1 class="mb-3"><%= title %></h1>
    <form action="/resetPassword" method="post" name="form1">
        <input type="hidden" name="token" class="form-control" value="<%= token %>">
        <div class="form-group">
            <label for="exampleInputEmail1">Password</label>
            <input type="password" name="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Please Enter New Password" value="">
        </div>
        <input type="submit" class="btn btn-primary" value="Update Password">
    </form>
</main>

</body>
<footer>
    <%- include('./templates/footer', {page}) %>
</footer>
</html>